<%- include('partials/header') %>

<div id="add_data_page">
    <%- include('add_data') %>
</div>

<div id="stats_page" style="display: none;">
    <%- include('stats') %>
    
</div>

<div id="medicine_page" style="display: none;">
    <%- include('medicine') %>
</div>


<script src="/js/home.js"></script>
<%- include('partials/footer') %>
